//width and heights
$min-width: 320px;

// fontsizes
$navFontSize: 1.2em;
$izalithLogoSize: 3em;
$companyDescribeFontSize: $izalithLogoSize / 1.25;
$WhoNWhat: $izalithLogoSize / 1.25;
$WhoNWhatSub: $WhoNWhat / 1.8;
$skillFont: $WhoNWhat / 1.5;
$specializeFont: $izalithLogoSize / 1.25;
$defualtParagraph: 1.33em;

//line-height
$line-height: 27px;

// colors
$defaultBG: #f4f4f4;
$fontColor: #4a4a4a;
$highlightColor: #45ab94;
$lightGrey: #9b9b9b;

//font
$roboto: "Roboto", sans-serif;
$openSans: "Open Sans", sans-serif;
